.main-header{
  height: 85vh;
}

nav{
  background-color:  #EE6C4D;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(41,50,65));
}

body{
  background-color: #9f7e69;
  position: relative;
}

body #showcase{
  position: absolute;
  top: 18%;
  left: 15%;
}

.side-nav{
  background-color:  #EE6C4D;
}

.card{
  background-color: #f2efc7;
}

.card-image {
  padding: 5px;
}

.card-image img{
  max-height: 230px;
}

.card-stacked{
  padding: 5px;
}

.carousel a{
  min-height: 500px;
}

.carousel a img{
  height: 500px;
}

.date-picker{
  position: relative;
}

.date-picker #date1{
  position: absolute;
  right: 150px;
  left: 0px;
}

.date-picker #date2{
  position: absolute;
  top: 0px;
  right: 0px;
  left: 150px;
}

.modal{
  background-color: #f2efc7;
  min-height: 600px;
}

.section-hotels i{
  top: 100px;
  left: 8px;
}

p{
  font-size: 15px;
}

#tab1 section{
  position: relative;
}

#googlemap{
  position: absolute;
  height: 100%;
  width: 90%;
  left: 40px;
}

#rating-box{
  background-color: rgb(0, 95, 0);
  border-radius: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

#search-btn{
  top: 10px;
}

footer{
  background-color:  #EE6C4D;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(41,50,65));
}